doctype 5
html
  head
    //if lt IE9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    .navbar.navbar-inverse
      .navbar-inner
        a.brand(href='http://cslim.tivciking.com') Gameful ILM
        ul.nav
          li
            a(href='') Home
    .container-fluid
      .row
        .span10
          block content
        .span2
